@import './variables';

@mixin theme($bg-color, $text-color, $primary-color) {
  background-color: $bg-color;
  color: $text-color;

  a {
    color: $primary-color;
  }
}

.light {
  @include theme($light-bg-color, $light-text-color, $light-primary-color);
}

.dark {
  @include theme($dark-bg-color, $dark-text-color, $dark-primary-color);
}