@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px); /* Move the item slightly down */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Return to original position */
  }
}


.product-card {
  @apply flex flex-col justify-between gap-1 w-full h-full p-6 shadow-md hover:shadow-xl rounded-xl transition-colors duration-300 opacity-0;
  animation: fadeIn 0.5s forwards;

  & .product-img {
    @apply w-[100%] flex justify-center bg-gray-200 p-10 rounded-xl;
    & .no-img {
      @apply w-[40%];
    }
  }

  &.dark {
    @apply hover:bg-dark-primary-color-40;
    & .description {
      @apply text-s text-dark-description-color;
    }
  }

  &.light {
    & .description {
      @apply text-s text-light-description-color;
    }
  }

  & .title {
    @apply text-lg font-bold;
  }

  & .description {
    @apply text-s text-dark-description-color;
  }
}